@{
    ViewBag.Title = "About Tiny Library CQRS";
}

<h2>About</h2>
<p>
     <strong>Thank you for experiencing Tiny Library CQRS!</strong>
     <br />
</p>
<h4>About the Author</h4>
<p>
</p>
