<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="apworks" type="Apworks.Config.ApworksConfigSection, Apworks"/>
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="QueryDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TinyLibraryCQRS_QueryDB;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True;"/>
  </connectionStrings>

  <appSettings>
    <add key="EventMessageQueue" value=".\private$\tinylibrarycqrs_eventbus"/>
    <add key="EventMessageReceiveTimeout" value="00:00:30"/>
    <add key="Interval" value="3500"/>
  </appSettings>

  <apworks>
    <application provider="Apworks.Application.App, Apworks" />
    <objectContainer provider="Apworks.ObjectContainers.Unity.UnityObjectContainer, Apworks.ObjectContainers.Unity" initFromConfigFile="false" sectionName="" />
    <serializers>
      <eventSerializer provider="Apworks.Events.Serialization.DomainEventXmlSerializer, Apworks" />
      <snapshotSerializer provider="Apworks.Snapshots.Serialization.SnapshotXmlSerializer, Apworks" />
    </serializers>
    <generators>
      <sequenceGenerator provider="Apworks.Generators.SequentialIdentityGenerator, Apworks" />
      <identityGenerator provider="Apworks.Generators.SequentialIdentityGenerator, Apworks" />
    </generators>
    <handlers>
      <handler name="eventHandlerRegistration" kind="Event" sourceType="Assembly" source="TinyLibraryCQRS.EventHandlers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </handlers>
  </apworks>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
