USE TinyLibraryCQRS_EventDB
GO
/****** Object:  Table [dbo].[DomainEvents]    Script Date: 08/31/2011 19:55:42 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DomainEvents]') AND type in (N'U'))
DROP TABLE [dbo].[DomainEvents]
GO
/****** Object:  Table [dbo].[Snapshots]    Script Date: 08/31/2011 19:55:43 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Snapshots]') AND type in (N'U'))
DROP TABLE [dbo].[Snapshots]
GO
/****** Object:  Table [dbo].[Snapshots]    Script Date: 08/31/2011 19:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Snapshots]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Snapshots](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[SnapshotData] [varbinary](max) NOT NULL,
	[AggregateRootId] [bigint] NOT NULL,
	[AggregateRootType] [nvarchar](max) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[SnapshotType] [nvarchar](max) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[Version] [bigint] NOT NULL,
	[Branch] [bigint] NOT NULL,
 CONSTRAINT [PK_Snapshots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[DomainEvents]    Script Date: 08/31/2011 19:55:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DomainEvents]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DomainEvents](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AggregateRootId] [bigint] NOT NULL,
	[AggregateRootType] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Version] [bigint] NOT NULL,
	[Branch] [bigint] NOT NULL,
	[AssemblyQualifiedTypeName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Data] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_DomainEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[DomainEvents] ON
SET IDENTITY_INSERT [dbo].[DomainEvents] OFF
